In [1]:
import pandas as pd

# Dictionary 사용하여 DataFrame 생성하기

In [17]:
friend_dict_list = [
    {'name': 'John', 'job': 'student', 'age': 25},
    {'name': 'Nate', 'age': 30, 'job': 'teacher'}
]

In [18]:
df = pd.DataFrame(friend_dict_list)

In [19]:
df.head()	# dict의 경우 key(column)의 순서가 보장되지 않음

   name      job  age
0  John  student   25
1  Nate  teacher   30

In [20]:
# column 순서가 원하는대로 나오지 않은 경우 아래 방법으로 조정가능
df = df[['name', 'age', 'job']]

In [21]:
df.head()

   name  age      job
0  John   25  student
1  Nate   30  teacher

### - DataFrame 생성과 동시에 key 순서 부여하는 방법

In [22]:
from collections import OrderedDict

In [23]:
friend_ordered_dict = OrderedDict(
    [
        ('name', ['John', 'Nate']),
        ('age', ['25', '30']),
        ('job', ['student', 'teacher'])
    ]
)

In [24]:
df = pd.DataFrame.from_dict(friend_ordered_dict)

In [25]:
df.head()

   name age      job
0  John  25  student
1  Nate  30  teacher

# List를 사용하여 DataFrame 생성하기

In [26]:
friend_list = [
    ['John', 25, 'student'],
    ['Nate', 30, 'teacher']
]
column_name = ['name', 'age', 'job']

In [27]:
df = pd.DataFrame.from_records(friend_list, columns = column_name)

In [28]:
df.head()

   name  age      job
0  John   25  student
1  Nate   30  teacher

### - DataFrame 생성과 동시에 key 순서 부여하는 방법

In [29]:
friend_list = [
    ['name', ['John', 'Nate']],
    ['age', ['25', '30']],
    ['job', ['student', 'teacher']]
]

In [30]:
# from_items()은 version 0.23.0 부터 지원중단
df = pd.DataFrame.from_items(friend_list)

AttributeError: type object 'DataFrame' has no attribute 'from_items'

In [31]:
df = pd.DataFrame.from_dict(dict(friend_list))

In [32]:
df.head()

   name age      job
0  John  25  student
1  Nate  30  teacher